body{
  background-color: #FFF;
  justify-content: center;
  text-align:center;
  margin: 0;
  padding: 0;
  }

header{
  display: flex;
  justify-content: center;
  background-color: #FFF;
  background-repeat:no-repeat;
  background-position:center;
  width:100%;
  flex-direction: column;
}

.square 
{
  width: 300px;
  height: 300px;
}

.image{
  position: relative;
  z-index: 1;
}

.main-image{
  margin-top: 50px;
  margin-bottom: 50px;
}

#barrenoir {
  padding: 10px;
  background-color: #1E0B0B;
  position: absolute;
  z-index: 0;
  width: 70%;
  top: 30%;
  left: 15%;
}

.scroll-downs {
  position: relative;
  bottom: 50px;
  margin: auto;
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid grey;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
  margin-block-start: 150px;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color:grey;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}



